<template>
  <div class="reservation-card">
    <div class="reservation-card__inner">
      <div class="reservation-card__body">
        <ul class="reservation-cart__list">
          <li class="reservation-cart__list-el">
            <div class="reservation-cart__list-el-wrapper">
              <div class="reservation-cart__list-el-title">
                Базовый тариф
              </div>
              <p class="reservation-cart__list-el-value">
                {{ price.base }}
                {{ price.currency }}
              </p>
            </div>
            <div class="reservation-cart__list-el-content">
              <p
                v-for="(traveler, index) in travelerPricings"
                :key="index"
                class="reservation-cart__list-el-content-value"
              >
                <span
                  >{{ index + 1 }}:
                  {{ translateBaseFare[traveler.travelerType] }}</span
                >
                <span
                  >{{ traveler.price.base }} {{ traveler.price.currency }}</span
                >
              </p>
            </div>
          </li>
          <li class="reservation-cart__list-el">
            <div class="reservation-cart__list-el-wrapper">
              <div class="reservation-cart__list-el-title">
                Налоги
              </div>
              <p class="reservation-cart__list-el-value">
                {{ sumTaxes.taxes }}
                {{ price.currency }}
              </p>
            </div>
            <div class="reservation-cart__list-el-content">
              <p class="reservation-cart__list-el-content-value">
                Налоги за
                {{ travelerPricings.length }} пассажира(ов)
              </p>
              <p
                class="reservation-cart__list-el-content-value reservation-cart__list-el-content-value_italic"
              >
                <span>Возвращаемые налоги</span>
                <span>{{ sumTaxes.refundableTaxes }} {{ price.currency }}</span>
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="reservation-card__summary">
        <div class="reservation-card__summary-total">
          Общая сумма
        </div>
        <div class="reservation-card__summary-price">
          {{ price.grandTotal }}
          {{ price.billingCurrency }}
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./reservation-card.ts"></script>
<style src="./reservation-card.css" />
