.reservation-card__inner {
    background-color: #F5F0EA;
    border: 1px solid #F5F0EA;
    padding: 16px;
}
.reservation-cart__list-el:not(:last-child) {
    margin-bottom: 25px;
}

.reservation-cart__list-el-title {
    color: rgba(135,94,44,1);
    display: inline-block;
    font-size: 15px;
}

.reservation-cart__list-el-wrapper {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.reservation-cart__list-el-value {
    font-weight: 500;
    font-size: 17px;
}

.reservation-cart__list-el-content-value {
    margin-left: 25px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation-cart__list-el-content-value_italic {
    font-style: italic;
}


.reservation-card__summary {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #d7d7d7;
    padding-top: 15px;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .reservation-cart__list-el-content-value {
        margin-left: 15px;
    }
}