<template>
  <ul class="field-dropdown-class">
    <li
      v-for="(item, index) in travelClass"
      :key="index"
      class="field-dropdown-class__list"
    >
      <div class="radio-field">
        <input
          :id="item.type"
          v-model="formData.travelClass"
          type="radio"
          :value="item.type"
          class="radio-field__control"
        />
        <label :for="item.type" class="radio-field__label">{{
          item.label
        }}</label>
      </div>
    </li>
  </ul>
</template>

<script lang="ts" src="./dropdown-class.ts"></script>
<style src="./dropdown-class.css"></style>
