.model-print {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    z-index: 1000000000000000;
    display: flex;
    padding: 15px;
}

.model-print__inner {
    width: 900px;
    max-width: calc(100% - 30px);
    position: absolute;
    z-index: 150;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fafafb;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    max-height: calc(100vh - 30px);
    overflow-y: auto;
    padding: 15px 45px 15px 15px;
}

.model-print__block-title {
    font-size: 18px;
    color: var(--primary);
    font-weight: 500;
    margin-bottom: 20px;
}

.ticket_custom {
    box-shadow: none;
}

.ticket_custom .ticket__side {
    display: none;
}

.ticket_custom .ticket__info {
    border: none;
    padding: 0;
}

.ticket_custom .segment-route__item-time {
    font-size: 25px;
}

.ticket_custom .ticket__info-line:not(:last-child) {
    padding-bottom: 7px;
    margin-bottom: 3px;
}

.model-print__block:not(:last-child){
    border-bottom: 1px solid #e0e4ea;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.model-print__passenger-list-item {
    position: relative;
    padding-left: 30px;
    margin-bottom:  8px;
}

.model-print__close {
    background-image: url("~@/assets/image/icons/cancel.svg");
    width: 18px;
    height: 18px;
    background-size: cover;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
}

.model-print__passenger-list-item:before {
    content: "";
    background-image: url("~@/assets/image/icons/user.svg");
    width: 18px;
    height: 18px;
    background-size: cover;
    position: absolute;
    left: 0
}

.model-print__passenger-list-item-gender {
    font-size: 13px;
}