<template>
  <div class="model-print">
    <div class="model-print__inner">
      <button
        class="model-print__close"
        aria-label="Закрыть"
        @click="isClosedModel"
      ></button>
      <div class="model-print__block">
        <Ticket :ticket="flightOffers" class="ticket_custom" />
      </div>
      <div class="model-print__block">
        <div class="model-print__block-title">Список пассажиров:</div>
        <ul class="model-print__passenger-list">
          <li
            v-for="(traveler, index) in travelers"
            :key="index"
            class="model-print__passenger-list-item"
          >
            {{ traveler.name.firstName }} {{ traveler.name.lastName }},
            <span class="model-print__passenger-list-item-gender">{{
              translateGender[traveler.gender]
            }}</span>
          </li>
        </ul>
      </div>
      <div class="model-print__block">
        <button class="btn-primary" disabled>Отправить</button>
      </div>
    </div>
  </div>
</template>

<script src="./model-print.ts"></script>
<style src="./model-print.css"></style>
