.page-details {
    margin-bottom: 100px;
}
.page-details__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-details__content {
    flex: 1;
    margin-right: 40px;
}

.page-details__reservation-card {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.page-details__reservation-card-btn {
    width: 100%;
    margin-top: 25px;
    text-transform: uppercase;
}

.page-details__content-card {
    margin-bottom: 50px;
}
.page-details__content .ticket__side {
    display: none;
}

.page-details__content-block {
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 10px -2px rgba(34, 42, 55, 0.13);
    overflow: hidden;
}

.page-details__content-block-head {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
}
.page-details__content-block-form:not(:last-child) {
    margin-bottom: 35px;
}

@media screen and (max-width: 1200px) {
    .page-details__content {
        margin-right: 0;
        width: 100%;
        flex: auto;
        margin-bottom: 25px;
    }


    .page-details__content-card {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 992px) {
    .page-details__content-block-head {
        font-size: 15px;
    }
    .page-details__reservation-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .page-details__reservation-card-btn {
        margin-top: 15px;
    }
}