<template>
  <div class="page-details">
    <div class="container">
      <Loader v-if="isLoading" />
      <template v-if="flightOffers">
        <ValidationObserver
          v-slot="{ invalid }"
          tag="div"
          class="page-details__row"
        >
          <div class="page-details__content">
            <div class="page-details__content-card">
              <Ticket :ticket="flightOffers" />
            </div>

            <div class="page-details__content-block">
              <div class="page-details__content-block-head">
                Заполните данные о пассажирах
              </div>
              <div class="page-details__content-block-body">
                <div
                  v-for="(traveler, index) in flightOffers.travelerPricings"
                  :key="index"
                  class="page-details__content-block-form"
                >
                  <ReservationForm
                    :id="traveler.travelerId"
                    :traveler="travelers[index]"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="page-details__reservation-card">
            <ReservationCard
              :price="flightOffers.price"
              :traveler-pricings="flightOffers.travelerPricings"
            />

            <button
              class="btn-primary page-details__reservation-card-btn"
              :disabled="invalid"
              @click="handleSubmit"
            >
              Продолжить
            </button>
          </div>
        </ValidationObserver>
        <template v-if="isShowedModel" v-click-outside="isClosedModel">
          <ModelPrint
            :travelers="travelers"
            :flight-offers="flightOffers"
            @isClosedModel="isClosedModel"
          />
        </template>
      </template>
      <template v-else>Ничего не найдено</template>
    </div>
  </div>
</template>

<script src="./page-details.ts"></script>
<style src="./page-details.css" />
