<template>
  <div class="ticket">
    <div class="ticket__side">
      <div class="ticket__side-head">
        <!--        <p class="ticket__side-tarif">-->
        <!--          {{ travelClassTicket }}-->
        <!--        </p>-->
        <div class="ticket__side-tarif-icons-list">
          <button
            v-for="(service, index) in ticket.price.additionalServices"
            :key="index"
            class="ticket__side-tarif-icon"
            :class="{
              'ticket__side-tarif-icon_no-baggage':
                checkedAdditionalServices(service.type) === undefined,
              'ticket__side-tarif-icon_bag': checkedAdditionalServices(
                service.type
              )
            }"
            @click="addAdditionalServices(service.type, service.amount)"
          ></button>
        </div>
      </div>
      <p class="ticket__side-price">
        {{ Number(ticket.price.total) + sumAdditionalServices }} ₽
      </p>
      <button class="btn-primary ticket__side-btn" @click="handleSubmit">
        Забронировать
      </button>
    </div>
    <div v-if="ticket.itineraries" class="ticket__info">
      <div
        v-for="(itinerarie, index) in ticket.itineraries"
        :key="index"
        class="ticket__info-line"
      >
        <Segment :itinerarie="itinerarie" />
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./ticket.ts"></script>
<style>
.ticket {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  box-shadow: 0 4px 10px -2px rgba(34, 42, 55, 0.13);
}

.ticket__side {
  background-color: var(--light);
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 250px;
  padding: 15px 20px;
}

.ticket__side-btn {
  height: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.ticket__side-head {
  margin-bottom: 35px;
}
.ticket__side-tarif {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--primary);
  display: inline-block;
  margin-right: 4px;
}

.ticket__side-tarif-icons-list {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.ticket__side-tarif-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  vertical-align: middle;
  border: none;
}

.ticket__side-tarif-icon_bag {
  background-image: url("~@/assets/image/icons/bag.svg");
  margin-top: -4px;
}

.ticket__side-tarif-icon_no-baggage {
  background-image: url("~@/assets/image/icons/no-baggage.svg");
}

.ticket__side-price {
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--primary);
}

.ticket__info {
  flex: 1;
  padding: 15px 20px;
  border: 1px solid #f5f0ea;
}

.ticket__info-line:not(:last-child) {
  padding-bottom: 15px;
  margin-bottom: 7px;
  border-bottom: 1px solid #e0e4ea;
}

@media screen and (max-width: 768px) {
  .ticket__side {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .ticket__side-head {
    margin-bottom: 15px;
  }

  .ticket__info {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 586px) {
  .ticket__side-price {
    font-size: 24px;
  }
}
</style>
