<template>
  <div class="homepage">
    <div class="homepage__banner">
      <video
        src="@/assets/video/Country-v6-3mbps.mp4"
        loop=""
        muted=""
        autoplay=""
        class="homepage__banner-video"
      ></video>
      <div class="homepage__banner-content">
        <h1 class="homepage__banner-title">
          Рекомендательная система путешествий
        </h1>

        <div class="homepage__search">
          <FilterAir :form-data="formData" @submitForm="submitForm" />
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./homepage.ts"></script>
<style src="./homepage.css" />
