.homepage__banner {
  position: relative;
  min-height: calc(100vh - 68px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
}

.homepage__banner-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage__banner::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.homepage__banner-content {
  position: relative;
}

.homepage__banner-title {
  position: relative;
  color: #fff;
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  text-align: center;
  z-index: 100;
}

.homepage__search {
  background: #f5f0ea;
  padding: 25px;
  margin-top: 100px;
}

@media screen and (max-width: 992px){
  .homepage__banner-title {
    font-size: 40px;
  }
  .homepage__search {
    padding: 15px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .homepage__banner-title {
    font-size: 26px;
  }
}