<template>
  <div class="reservation-form">
    <div class="reservation-form__title">Пассажир {{ id }}</div>
    <div class="reservation-form__line">
      <div class="reservation-form__line-item">
        <ValidationProvider v-slot="v" rules="required|alpha|min:3">
          <label class="box">
            <input
              v-model="traveler.name.firstName"
              class="box__input"
              placeholder="Имя"
              :class="{ box__input_error: v.errors[0] }"
            />
          </label>
          <span v-if="!v.failedRules.required" class="error">{{
            v.errors[0]
          }}</span>
        </ValidationProvider>
      </div>
      <div class="reservation-form__line-item">
        <ValidationProvider v-slot="v" rules="required|alpha|min:3">
          <label class="box">
            <input
              v-model="traveler.name.lastName"
              class="box__input"
              placeholder="Фамилия"
              :class="{ box__input_error: v.errors[0] }"
            />
          </label>
          <span v-if="!v.failedRules.required" class="error">{{
            v.errors[0]
          }}</span>
        </ValidationProvider>
      </div>
      <div class="reservation-form__line-item">
        <label class="box">
          <select v-model="traveler.gender" class="box__select">
            <option value="male">Мужской</option>
            <option value="female">Женский</option>
          </select>
        </label>
      </div>
      <div class="reservation-form__line-item">
        <ValidationProvider v-slot="v" rules="required">
          <label class="box">
            <input
              v-model="traveler.dateOfBirth"
              class="box__input"
              type="date"
              placeholder="День рождение"
              :class="{ box__input_error: v.errors[0] }"
            />
          </label>
          <span v-if="!v.failedRules.required" class="error">{{
            v.errors[0]
          }}</span>
        </ValidationProvider>
      </div>

      <div class="reservation-form__line-item">
        <ValidationProvider v-slot="v" rules="required|numeric">
          <label class="box">
            <input
              v-model="traveler.contacts.phone"
              class="box__input"
              type="tel"
              placeholder="Телефон"
              :class="{ box__input_error: v.errors[0] }"
            />
          </label>
          <span v-if="!v.failedRules.required" class="error">{{
            v.errors[0]
          }}</span>
        </ValidationProvider>
      </div>
      <div class="reservation-form__line-item">
        <ValidationProvider v-slot="v" rules="required|email">
          <label class="box">
            <input
              v-model="traveler.contacts.emailAddress"
              class="box__input"
              type="email"
              required
              placeholder="Email"
              :class="{ box__input_error: v.errors[0] }"
            />
          </label>
          <span v-if="!v.failedRules.required" class="error">{{
            v.errors[0]
          }}</span>
        </ValidationProvider>
      </div>
      <div class="reservation-form__line-item">
        <ValidationProvider v-slot="v" rules="required|numeric">
          <label class="box">
            <input
              v-model="traveler.documents"
              class="box__input"
              type="text"
              placeholder="Серия и номер паспорта"
              :class="{ box__input_error: v.errors[0] }"
            />
          </label>
          <span v-if="!v.failedRules.required" class="error">{{
            v.errors[0]
          }}</span>
        </ValidationProvider>
      </div>
    </div>
  </div>
</template>

<script src="./reservation-form.ts"></script>
<style>
fieldset {
  min-width: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.reservation-form__line {
  margin-left: -7px;
  margin-right: -7px;
}

.reservation-form__line-item {
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
}

.reservation-form__line-item .box {
  padding: 7px;
}

.reservation-form__title {
  margin-bottom: 16px;
  font-size: 17px;
  font-weight: 500;
}
.reservation-form__line-item .error {
  padding-left: 7px;
}

@media screen and (max-width: 992px) {
  .reservation-form__line-item {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .reservation-form__line-item {
    width: 100%;
  }
}
</style>
