.flights-page {
	padding-bottom: 100px;
}
.flights-page__head {
	background: #F5F0EA;
	border: 1px solid #F5F0EA;
	padding: 15px;
}

.flights-page__head-search .filter__wrapper {
	justify-content: center;
}

.flights-page__body {
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
}

.flights-page__sorting {
	width: 350px;
}

.flights-page__body-content {
	width: calc(100% - 390px);
}

.tickets-list-item:not(:last-child) {
	margin-bottom: 20px;
}

@media screen and (max-width: 1099px){
	.flights-page__body-content {
		width: 100%;
	}

	.flights-page__sorting {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 768px){
	.flights-page__sorting {
		width: 100%;
	}
}