<template>
  <div class="inner-page flights-page">
    <Loader v-if="isLoading" />
    <div class="flights-page__container container">
      <div class="flights-page__head">
        <FilterAir
          :form-data="formData"
          class="flights-page__head-search"
          :city-name-default="cityNameDefault"
          @submitForm="submitForm"
        />
      </div>
      <div class="flights-page__body">
        <div class="flights-page__sorting">
          <Sorting :carriers="carriers" @sorting="sorting" />
        </div>
        <div class="flights-page__body-content">
          <template v-if="data.length">
            <ul class="tickets-list">
              <li v-for="item in data" :key="item.id" class="tickets-list-item">
                <Ticket :ticket="item" />
              </li>
            </ul>
          </template>
          <template v-else>
            <p class="not-fount">Ничего не найдено</p>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./flights.ts"></script>
<style src="./flights.css"></style>
