.filter__wrapper {
		display: flex;
		flex-wrap: wrap;
    align-items: flex-end;
}
.filter__item {
    margin-right: 6px;
    margin-left: 6px;
    width: 178px;
    position: relative;
    margin-top: 15px;
}
.filter__item_small {
	width: 140px;
}
.filter-field {
    background-color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    padding: 15px;
    height: 48px;
    transition: all 0.5s ease;
    border-radius: 4px;
    letter-spacing: 1.6px;
}
.filter-field:focus {
    outline: 1px dotted currentColor;
    outline-offset: 4px;
}

.filter-dropdown {
    position: absolute;
    top: 74px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    width: 390px;
    z-index: 100;
}

.filter-dropdown__inner {
    padding: 10px;
}

.filter_btn {
	margin-left: 6px;
    margin-top: 15px;
}


@media screen and (max-width: 998px) {
    .filter__wrapper {
        justify-content: center;
    }
    .filter__item {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .filter__item {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .filter-dropdown {
        width: 100%;
        top: auto;
        bottom: 100%;
    }
}
