<template>
  <ValidationObserver v-slot="{ handleSubmit }">
    <div class="filter">
      <div class="filter__wrapper">
        <div class="filter__item">
          <AutocompleteField
            :param="{ label: 'Откуда', id: 'originLocationCode' }"
            :city="cityNameDefault.originCode"
            @setAutoCompleteCity="setAutoCompleteCity"
          />
        </div>
        <div class="filter__item">
          <AutocompleteField
            :param="{ label: 'Куда', id: 'destinationLocationCode' }"
            :city="cityNameDefault.destinationCode"
            @setAutoCompleteCity="setAutoCompleteCity"
          />
        </div>
        <div class="filter__item filter__item_small">
          <ValidationProvider v-slot="{ errors }" rules="required">
            <label class="form-field">
              <span class="form-field__title">Дата вылета</span>
              <DatePicker
                v-model="formData.departureDate"
                lang="ru"
                value-type="format"
                format="YYYY-MM-DD"
                :disabled-date="notBeforeToday"
                :input-class="{
                  'form-field__control': true,
                  'form-field__error': errors[0]
                }"
              />
            </label>
          </ValidationProvider>
        </div>
        <div class="filter__item filter__item_small">
          <label class="form-field">
            <span class="form-field__title">Дата приезда</span>
            <DatePicker
              v-model="formData.returnDate"
              :default-value="new Date()"
              value-type="format"
              format="YYYY-MM-DD"
              :disabled-date="notBeforeToday"
              input-class="form-field__control"
              :disabled="formData.departureDate === ''"
            />
          </label>
        </div>
        <div v-click-outside="hideDropdownPassengers" class="filter__item">
          <button
            class="filter-field"
            @click="isOpenedPassengers = !isOpenedPassengers"
          >
            Пасажиры
          </button>
          <div v-if="isOpenedPassengers" class="filter-dropdown">
            <div class="filter-dropdown__inner">
              <DropdownPassengers
                :passengers="{
                  adults: formData.adults,
                  children: formData.children,
                  infants: formData.infants
                }"
                @sumPassengers="sumPassengers"
              />
            </div>
          </div>
        </div>
        <div v-click-outside="hideDropdownClass" class="filter__item">
          <button class="filter-field" @click="isOpenedClass = !isOpenedClass">
            Класс
          </button>
          <div v-if="isOpenedClass" class="filter-dropdown">
            <div class="filter-dropdown__inner">
              <DropdownClass :form-data="formData" />
            </div>
          </div>
        </div>

        <button
          class="btn-primary filter_btn"
          type="submit"
          @click.prevent="handleSubmit(onSubmit)"
        >
          Поиск
        </button>
      </div>
    </div>
  </ValidationObserver>
</template>

<style src="./filter-air.css" />
<script lang="ts" src="./filter-air.ts" />
