.field-text {
    position: relative;
}

.field-text__control-input {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    padding: 15px;
    height: 48px;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    border-radius: 4px;
    letter-spacing: 1.6px;
}

.field-text__control-input:focus {
    outline: 1px dotted currentColor;
    outline-offset: 4px;
}

.field-text .autosuggest__results {
    position: absolute;
    overflow-y: auto;
    max-height: 200px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    border: 1px solid #e8e8e8;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.field-text .autosuggest__results-item {
    cursor: pointer;
    padding: 7px 15px;
    font-size: 15px;
}

.field-text__label {
    font-size: 14px;
    margin-bottom: 4px;
}

.field-text__control-error .field-text__control-input {
    border-color: #ff4747;
}

.field-text__control-error .field-text__control-input:focus {
    outline-color: #ff4747;
}