<template>
  <ValidationProvider v-slot="{ errors }" rules="required">
    <div class="field-text">
      <div class="field-text__label" :for="param.id">{{ param.label }}</div>
      <vue-autosuggest
        v-model="query"
        :suggestions="suggestions"
        :render-suggestion="renderSuggestion"
        :input-props="{
          id: param.id,
          class: 'field-text__control-input'
        }"
        :class="{
          'field-text__control-error': errors[0]
        }"
        @selected="onSelected"
        @input="onInputChange"
      >
      </vue-autosuggest>
    </div>
  </ValidationProvider>
</template>

<script src="./autocomplete-field.ts" />
<style src="./autocomplete-field.css" />
