.header {
  background-color: #fff;
  padding: 15px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 500;
  font-size: 23px;
  text-transform: uppercase;
}

/* .header__menu-list-item {
  display: inline-block;
}

.header__menu-list-item:not(:last-child) {
  padding-right: 25px;
}

.header__menu-list-item-link {
  font-size: 15px;
  text-transform: uppercase;
	position: relative;
}

.header__menu-list-item-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .9s cubic-bezier(.19,1,.22,1),-webkit-transform .9s cubic-bezier(.19,1,.22,1);
}

.header__menu-list-item-link:hover:after {
  transform-origin: left;
  transform: scaleX(1);
} */

.header__control {
	position: relative;
}

.header__control-locale {
  background-color: var(--primary);
  color: #fff;
  font-size: 12px;
  border: none;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 30px;
  letter-spacing: 1.6px;;
}

.header__control-dropdowm {
	width: 200px;
	right: 0;
	background-color: #fff;
	position: absolute;
	top: calc(100% + 15px);
	z-index: 100;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.header__control-dropdowm:before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: #fff;
  top: -8px;
  right: 16px;
}

.header__control-dropdowm-inner {
	overflow: hidden;
	overflow-y: auto;
	height: 150px;
}

.header__control-list-item {
	line-height: 1.43;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	cursor: pointer;
}

.header__control-list-label {
	margin-right: 15px;
}

.header__control-list-item_selected {
	color: var(--accent)
}
