<template>
  <header class="header">
    <div class="header__container container">
      <router-link to="/" class="header__logo" title="Главная страница"
        >Amadeus</router-link
      >
      <div v-click-outside="hideMenu" class="header__control">
        <button
          class="header__control-locale"
          @click="isMenuOpened = !isMenuOpened"
        >
          <span class="header-control-locate-currency">{{
            currencyActive
          }}</span>
        </button>
        <transition name="fade">
          <div v-if="isMenuOpened" class="header__control-dropdowm">
            <div class="header__control-dropdowm-inner">
              <ul class="header__control-list">
                <li
                  v-for="(currency, index) in listCurrency"
                  :key="index"
                  class="header__control-list-item"
                  :class="{
                    'header__control-list-item_selected':
                      currencyActive === currency.code
                  }"
                  @click="handleSelect(currency.code)"
                >
                  <p class="header__control-list-label">{{ currency.label }}</p>
                  <p class="header__control-list-text">{{ currency.code }}</p>
                </li>
              </ul>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </header>
</template>
<script lang="ts" src="./header.ts"></script>
<style src="./header.css"></style>
