<template>
  <div class="sorting">
    <div v-if="carriers" class="sorting__item">
      <button
        class="sorting__item-title"
        @click="isOpenedCarriers = !isOpenedCarriers"
      >
        Авиакомпании
      </button>
      <div v-if="isOpenedCarriers" class="sorting__item-body">
        <ul class="sorting__item-body-list">
          <li
            v-for="(value, key, index) in carriers"
            :key="index"
            class="sorting__item-body-list-item"
          >
            <input
              :id="key"
              v-model="checkedCarriers"
              :value="key"
              type="checkbox"
              class="my-checkbox"
            />
            <label :for="key" class="my-checkbox-label"
              >{{ key }}: {{ value }}</label
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="sorting__item">
      <button class="sorting__btn" @click="sortingFlights">
        Отфильтровать
      </button>
    </div>
  </div>
</template>

<script lang="ts" src="./sorting-flights.ts" />
<style src="./sorting-flights.css" />
