.sorting__item {
    border: 1px solid #f5f0ea;
}

.sorting__item:not(:first-child) {
    border-top: 1px solid #d7d7d7;
}

.sorting__item-title {
    font-weight: 500;
    letter-spacing: 1.6px;
    width: 100%;
    text-align: left;
    border: none;
    padding: 13px;
    font-size: 14px;
    position: relative;
}

.sorting__item-title::before {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    width: 12px;
    height: 12px;
    background-size: cover;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-image: url("~@/assets/image/icons/arrow-down.svg")
}
.sorting__item-body {
    padding: 13px;
}
.sorting__item-body-list-item {
    position: relative;
}
.sorting__item-body-list-item:not(:last-child) {
    margin-bottom: 12px;
}
.sorting__btn {
    width: 100%;
    background-color: rgb(239, 239, 239);
    border: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.6px;
    height: 40px;
}
.sorting__btn:hover {
    background: var(--accent-light);
}