<template>
  <div class="segment-route">
    <div class="segment-route__item">
      <p class="segment-route__item-time">
        {{ dataDeparture.time }}
      </p>
      <p class="segment-route__item-city">
        {{ getCurrencyCity(itinerarie.segments[0].departure.iataCode) }}
      </p>
      <p class="segment-route__item-date">
        {{ dataDeparture.date }}
      </p>
    </div>
    <div class="segment-route__points">
      <p class="segment-route__points-duration">
        {{ duration }}
      </p>
      <div class="segment-route__points-poi">
        <div class="segment-route__points-poi-item">
          {{ itinerarie.segments[0].departure.iataCode }}
        </div>
        <template v-if="itinerarie.segments.length !== 1">
          <div
            v-for="segment in itinerarie.segments.slice(1)"
            :key="segment.id"
            class="segment-route__points-poi-item segment-route__points-poi-item_stop"
          >
            {{ segment.departure.iataCode }}
          </div>
        </template>
        <div class="segment-route__points-poi-item">
          {{
            itinerarie.segments[itinerarie.segments.length - 1].arrival.iataCode
          }}
        </div>
      </div>
    </div>
    <div class="segment-route__item">
      <p class="segment-route__item-time">{{ dataArrival.time }}</p>
      <p class="segment-route__item-city">
        {{
          getCurrencyCity(
            itinerarie.segments[itinerarie.segments.length - 1].arrival.iataCode
          )
        }}
      </p>
      <p class="segment-route__item-date">{{ dataArrival.date }}</p>
    </div>
  </div>
</template>

<script lang="ts" src="./segment.ts"></script>
<style src="./segment.css"></style>
