.segment-route {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.segment-route__item-time {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1.6px;
}

.segment-route__item-city {
    font-size: 13px;
    color: #737373;
    letter-spacing: 1.6px;
}

.segment-route__item-date {
    font-size: 13px;
    color: #737373;
}

.segment-route__points {
    position: relative;
    flex: 1;
    margin: 0 25px;
}

.segment-route__points::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(
            90deg,
            #d0d6e1 30%,
            rgba(255, 255, 255, 0) 0
    );
    background-position: top;
    background-size: 5px 1.5px;
    background-repeat: repeat-x;
}

.segment-route__points-poi {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: -30px;
}

.segment-route__points-poi-item {
    font-size: 13px;
    padding: 0 6px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer;
    color: var(--accent);
    position: relative;
}

.segment-route__points-poi-item_stop {
    color: #7a869a;
}

.segment-route__points-duration {
    font-size: 13px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    color: #7a869a;
    font-weight: 500;
}

@media screen and (max-width: 586px) {
    .segment-route__item-time {
        font-size: 20px
    }

    .segment-route__points {
        margin-right: 10px;
        margin-left: 10px;
    }
}