.dropdown-passengers__list-txt-title {
    font-size: 14px;
    margin-bottom: 2px;
}

.dropdown-passengers__list-txt-sub {
    font-size: 13px;
    line-height: 13px;
    color: #505050;
    font-weight: 500;
}

.dropdown-passengers__list-control-value {
    background-color: transparent;
    font-weight: bold;
    border: none;
    margin: 0 11px;
    max-width: 35px;
    text-align: center;
    vertical-align: middle;
}

.dropdown-passengers__list-control-btn {
    background-color: var(--accent);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    border: none;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 22px;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    color: #fff;
}

.dropdown-passengers__list-control-btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.dropdown-passengers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.dropdown-passengers__list:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e5e5;
    padding-bottom: 8px;
}

.dropdown-passengers__list-txt {
    width: calc(100% - 110px);
}

@media screen and (max-width: 576px) {
    .dropdown-passengers__list-txt-title {
        font-size: 12px;
    }

    .dropdown-passengers__list-txt-sub {
        font-size: 11px;
    }
}