<template>
  <ul class="dropdown-passengers">
    <li
      v-for="(item, index) in data"
      :key="index"
      class="dropdown-passengers__list"
    >
      <div class="dropdown-passengers__list-txt">
        <p class="dropdown-passengers__list-txt-title">
          {{ item.title }}
        </p>
        <p class="dropdown-passengers__list-txt-sub">
          {{ item.sub }}
        </p>
      </div>
      <div class="dropdown-passengers__list-control">
        <button
          :aria-controls="item.aria_controls"
          class="dropdown-passengers__list-control-btn dropdown-passengers__list-control-btn_minus"
          :disabled="
            item.type === 'adults'
              ? passengers[item.type] <= 1
              : passengers[item.type] <= 0
          "
          @click="counterMinus(item.type)"
        >
          -
        </button>
        <input
          id="search-controls-adults"
          :value="passengers[item.type]"
          type="text"
          readonly
          class="dropdown-passengers__list-control-value"
        />
        <button
          :disabled="passengers[item.type] > 8"
          :aria-controls="item.aria_controls"
          class="dropdown-passengers__list-control-btn dropdown-passengers__list-control-btn_plus"
          @click="counterPlus(item.type)"
        >
          +
        </button>
      </div>
    </li>
  </ul>
</template>

<style src="./dropdown-passengers.css" />
<script lang="ts" src="./dropdown-passengers.ts" />
