@import "assets/css/normalize.css";

:root{
  --primary: #2e2e2e;
  --accent: #a56825;
  --light: #eef2f2;
  --accent-light: #f5f0ea;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}


/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Raleway-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Raleway-Medium.ttf") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Raleway-Light.ttf") format("woff");
}

body {
  font-size: 16px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  font-weight: 300;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  width: 100%;
}

@media screen and (max-width: 1440px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-primary {
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: 12px 39px;
  position: relative;
  text-align: center;
  transition: background-color .2s linear;
  white-space: nowrap;
	font-size: 14px;
	height: 48px;
}

.btn-primary:hover {
  background-color: var(--accent);
}

.btn-primary_outline {
    background-color: transparent;
    border: 1px solid #171717;
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}
.btn-primary_outline:hover {
    color: #fff;
    border: var(--accent)
}

.btn-primary:disabled {
    background-color: #2e2e2e;
    opacity: 0.7;
    cursor: default;
}

.form-field__title {
	font-size: 14px;
	display: block;
	margin-bottom: 4px;
}
.form-field__control {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    padding: 15px;
    height: 48px;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    border-radius: 4px;
    letter-spacing: 1.6px;
}

.form-field__control:focus {
    outline: 1px dotted currentColor;
	outline-offset: 4px;
}

.form-field__control[disabled] {
  background-color: #e0dfdf;
  opacity: 0.7;
}

.form-field__error {
    border-color: #ff4747;
}

.form-field__error:focus {
    outline-color: #ff4747;
}

.mx-datepicker {
	width: 100%!important;
}

.my-checkbox {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	border-radius: 4px;
	border: 1px solid rgba(200,200,200,1);
	background: #fff;
	-webkit-appearance: none;
		-moz-appearance: none;

}

.my-checkbox:after {
	content: '';
	display: block;
	position: absolute;
	width: 5px;
	height: 9px;
	border: 2px solid var(--primary);
	border-top: 0;
	border-left: 0;
	left: 9px;
	top: 5px;
	transform: rotate(20deg);
	opacity: 0;
	transition: transform 0.3s, opacity 0.2s;
}

.my-checkbox:checked:after {
	opacity: 1;
	transform: rotate(43deg);
}

.my-checkbox-label {
	font-size: 14px;
	margin-left: 15px;
	cursor: pointer;
}

.heading-2 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 300;
}

.heading-mb {
    margin-bottom: 30px;
}

.radio-field {
    position: relative;
}

.radio-field__control {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--accent);
    -webkit-appearance: none;
    -moz-appearance: none;
}

.radio-field__control:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    opacity: 0;
    background-color: #fff;
    transform: scale(0.7);
}

.radio-field__control:checked {
    background-color: var(--accent);
}

.radio-field__control:checked:after {
    transform: scale(0.5);
    opacity: 1;
}

.radio-field__label {
    font-size: 13px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
}

.not-fount {
  font-size: 18px;
}

.box {
    position: relative;
    display: block;
}

.box__input {
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #c8c8c8;
    background-color: #fff;
    width: 100%;
    padding: 10px 14px;
    color: #333333;
    letter-spacing: 1.6px;
    height: 45px;
}

.box__select {
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #c8c8c8;
    background-color: #fff;
    width: 100%;
    padding: 10px 14px;
    color: #333333;
    letter-spacing: 1.6px;
    height: 45px;
}

.box__input:focus {
    outline: 1px dotted currentColor;
    outline-offset: 4px;
}

.box__select:focus {
    outline: 1px dotted currentColor;
    outline-offset: 4px;
}

.box__input_error {
    border-color: #ff4747;
}

.box__input_error:focus {
    outline-color: #ff4747;
}

.error {
    color: #ff4747;
    font-size: 13px;
    display: block;
}

@media screen and (max-width: 992px) {
   .box__input {
       font-size: 13px;
   }
    .box__select {
        font-size: 13px;
    }
}
