.page-404 {
  background-color: var(--accent-light);
  min-height: calc(100vh - 68px);
  text-align: center;
}
.page-404__title {
  font-weight: 300;
  font-size: 150px;
}

.page-404__subtitle {
  font-size: 25px;
}
