<template>
  <div class="page-404">
    <h1 class="page-404__title">404</h1>
    <p class="page-404__subtitle">
      Страница не существует
    </p>
  </div>
</template>

<script src="./page-404.ts"></script>
<style src="./page-404.css"></style>
